{
  "extends": ["airbnb"],
  "plugins": ["import", "jsx-a11y", "react"],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "import/extensions": ["error", "never"],
    "import/no-unresolved": "off",
    "react/prop-types": "off"
  }
}
